venv
.env
__pycache__/
*.pyc
.DS_Store
.idea/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.zip
*.tar.gz
*.egg-info/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore VS Code settings
.vscode/
# Ignore PyCharm settings
*.iml
